<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | EventHub</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>

<body>
   <!-- HEADER-SECTION -->
<div id="cntop" class="home-header-section sub-header-section">
    <header class="header">
        <div class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <!-- <a class="navbar-brand pt-0" href="index.html"><img src="../assets/images/bridely-logo.png"
                            alt="" class="img-fluid diverge-logo"></a> -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <% if (user) { %>
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                    href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color"
                                    href="/events/<%=event._id%>">Event</a>
                            </li>
                            <% } %>
                            <% if (!user) { %>
                            <li class="nav-item active">
                                <a class="nav-link text-decoration-none navbar-text-color"
                                    href="/photoboard/<%=event._id%>">Photo Board</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color"
                                    href="/maps/<%=event._id%>">Directions</a>
                            </li> 
                            <% } %>
                            <% if (user) { %>
                            <li class="nav-item dropdown redlight-dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
                                <div class="dropdown-menu dropdown-content-redlight">
                                    <ul class="list-unstyled">
                                        <li class="nav-item"><a class="dropdown-item nav-link"
                                            href="/todos/<%=event._id%>">To Do List</a></li>
                                        <li class="nav-item"> <a class="dropdown-item nav-link"
                                            href="/contacts/<%=event._id%>">Guest List</a></li>
                                        <li class="nav-item active"> <a class="dropdown-item nav-link"
                                            href="/photoboard/<%=event._id%>">Photo Board</a></li>        
                                        <li class="nav-item"> <a class="dropdown-item nav-link"
                                            href="/maps/<%=event._id%>">Directions</a></li>
                                    </ul>
                                </div>
                            </li>
                            <% } %>
                            
                        </ul>
                        <% if (user) { %>
                        <div class="btn-talk ml-auto">
                            <ul class="m-0 p-0">
                                <li class="list-unstyled d-lg-inline-block"><a class="nav-link contact"
                                        href="/logout">Log Out</a></li>
                            </ul>
                        </div>
                        <% } %>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- BANNER-SECTION -->
    <div class="home-banner-section overflow-hidden position-relative sub-baner">
        <figure class="banner-img1 mb-0">
            <img src="../assets/images/banner-img1.png" alt="" class="star">
        </figure>
        <figure class="banner-img2 mb-0">
            <img src="../assets/images/banner-img2.png" alt="" class="star">
        </figure>
        <div class="banner-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-2 order-1">
                        <div class="position-relative sub-banner-section" data-aos="fade-up" id="myContentDIV">
                            <h1><span class="h1-text"><%=event.name%> </span>Photo Board</h1>
                            <p class="banner-paragraph">
                                Welcome to the photo board! Thank you for coming - Upload all your images here so we can relive the memories together!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h2>Upload Here: </h2>
                </div>
                <br>
                <div class="row">
                    <form action="/addPhoto/<%= event._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
                        <div class="mb-3">
                        <label for="fromName" class="form-label">Posted By:</label>
                        <input type="text" class="form-control" id="fromName" name="fromName">
                        </div>
                        <div class="mb-3">
                        <label for="imgUpload" class="form-label">Image:</label>
                        <input type="file" class="form-control" id="imageUpload" name="file">
                        </div>
                        <div class="mb-3">
                        <label for="caption" class="form-label">Caption:</label>
                        <textarea class="form-control" id="caption" name="caption"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>"We didn't realize we were making memories we were just having fun!"</h2>
                <span> - Cindy Nguyen</span>
            </div>
        </div>
    </div>

    <div class="get-in-touch gallery-page">
        <div class="container">
            <h2 id="cnphoto">Photo Board Feed:</h2>
            <br>
            <!-- row2 -->
            <div class="row" data-aos="fade-up">
                <% for(var i=0; i < event.photos.length; i++) {%>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="gallery_content">
                            <figure class="contact-form-img">
                                <img src="<%= event.photos[i].photoURL%>" alt="" class="img-fluid">
                            </figure>
                            <!-- <div class="banner-btn discover-btn-banner">
                                <a href="about.html" class="text-decoration-none">19/03/2022</a>
                            </div> -->
                            <h4>Posted By: <%= event.photos[i].fromName %></h4>
                            <p><%= event.photos[i].caption %></p>
                            <br>
                            <% if (user) { %>
                                <form action="/deletePhoto/<%= event._id%>/<%=i%>?_method=DELETE" method="POST">
                                  <button>Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <br>
               <% } %>
            </div>
            <br>
            <br>
            <div class="banner-btn discover-btn-banner">
                <a href="#cntop" class="text-decoration-none">To The Top</a>
            </div>
        </div>
        <figure class="gallery-design-img">
            <img src="../assets/images/gallery-design-img.png" alt="">
        </figure>
    </div>
</div> 

<div class="footer-section">      
     
 </div>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="../assets/js/animations.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/owl.carousel.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../assets/js/text-animations.js"></script>
    <script src="../assets/js/carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://unpkg.com/ityped@0.0.10"></script>
    <script src="../assets/js/type.js"></script>
    <script src="../assets/js/custom-script.js"></script>
    <script src="../assets/js/video-popup.js"></script>
</body>

</html>